.header
{
    width: 100%;
    margin: 0px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    padding: 10px;
}

.footer
{
    position: fixed;
    width: 100%;
    bottom : 0;
    background: grey;
    font-size: 20px;
    text-align : center;
    color:white;
    line-height: 3;
}

.note 
{
    color: darkblue;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}